body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

.top {
    background-color: #1f2937;
    flex: 1;
}

.top-content {
    width: 70%;
    margin: 0 auto;
}

.header {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.links {
    display: flex;
    gap: 20px;
}

.hero-and-image {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}

.hero-text {
    width: 35%
}

.hero-main {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.hero-secondary {
    font-size: 18px;
    color: #e5e7eb;
}

button {
    width: 100px;
    background-color: #3882f6;
    border-radius: 5px;
    color: #f9faf8;
    font-weight: bold;
    padding: 7px 10px;
    border: none;
}

.image {
    width: 40%;
    background-color: #6d747d;
    color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info {
    flex: 1;
}

.info-content {
    width: 70%;
    margin: 0 auto;
}

.info-title {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    text-align: center;
    margin-bottom: 50px;
}

.media-objects {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.media-object {
    width: 150px;
}

.media-object-image {
    width: 75%;
    height: 100px;
    margin: 0 auto;
    border: 2px solid #3882f6;
    border-radius: 10px;
}

.media-object-text {
    margin-top: 10px;
    text-align: center;
    color: #6d747d
}

.quote {
    flex: 1;
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-content {
    margin: 30px 0;
    width: 40%;
}

.quote-text {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: #6d747d;
    margin-bottom: 0;
}

.quotee {
    font-size: 24px;
    text-align: end;
    font-weight: 800;
}

.action {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.action-content {
    width: 70%;
    background-color: #3882f6;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-action-content {
    width: 75%;
    display: flex;
    justify-content: space-between;
    color: #f9faf8;
}

.action button {
    border: 2px solid white;
    align-self: center;
}

.footer {
    flex: 1;
    background-color: #1f2937;
    color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

p {
    margin-top: 0;
    margin-bottom: 15px;
}

h1 {
    margin-top: 0;
    margin-bottom: 7px;
}